@using CinemaCreatorApp.Data
@using DataAccessLibrary.Models
@implements IDisposable
@*@inject ICreatorStateService CreatorState*@
<div class="grid-item" @onmousedown='(e)=>HandleClick(e,"down")' @onmouseup='(e)=>HandleClick(e,"up")'>
    @if(HasSeat)
    {
        <img src='/svg/Seat_@(seatType).svg' class="cell-image" draggable="false"/>
        if (DisplayNumber != -1)
        {
            <span class="cell-text">@DisplayNumber</span>
        }
    }
   
</div>

@code {
    [ParameterAttribute]
    public EventCallback<Cell> OnMouseDown { get; set; }
    [ParameterAttribute]
    public EventCallback<Cell> OnMouseUp { get; set; }
    [ParameterAttribute]
    public EventCallback<Cell> DemandSeatDeletion { get; set; }
    [Parameter]
    public int Col { get; set; }
    [Parameter]
    public int Row { get; set; }
    [Parameter]
    public int DisplayNumber { get; set; }
    private bool hasSeat;
    public bool HasSeat{ 
        get
        {
            return hasSeat;
        }
        set
        {
            hasSeat = value;
            StateHasChanged();
        }
    }
    SeatType seatType = SeatType.None;
    [Parameter]
    public SeatType SeatSource{
        get
        {
            return seatType;
        }
        set
        {
            if (value == SeatType.None)
            {
                HasSeat = false;
            }
            else
            {
                HasSeat = true;
            }
            seatType = value;
        }
    }
    private void HandleClick(MouseEventArgs e, string mouseState)
    {
        if(e.Button==0L)
        {
            SendClickInformation(mouseState);
        }
    }
    private void SendClickInformation(string mouseState)
    {
        switch(mouseState)
        {
            case "up":
                OnMouseUp.InvokeAsync(this);
                break;
            case "down":
                OnMouseDown.InvokeAsync(this);
                break;
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            if(HasSeat)
            StateHasChanged();
        }
    }
    public void Dispose()
    {
        if(HasSeat)
        {
            DemandSeatDeletion.InvokeAsync(this);
        }
    }
    
}
