@page "/"
@page "/instructions"

<PageTitle>Instructions</PageTitle>

<div class="p-4">
    <h1>Welcome To Cinema Room Editor</h1>
    <p>Here's brief introduction of the app and instructions of how to use it.</p>
    <section>
    <h3>What is this "Cinema Room Editor" thing?</h3>
    <p>It's a tool which can be used to create, read, update and delete a database of cinema rooms</p>
    </section>
</div>


