@page "/RoomList"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject ICinemaData _db
@inject NavigationManager NavigationManager


<h3>RoomList</h3>
@if (screeningRoomsData is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in screeningRoomsData)
            {
                <tr>
                    <td @onclick="()=>RedirectToEditor(room)">@room.Id</td>
                    <td @onclick="()=>RedirectToEditor(room)">@room.Name</td>
                    <td @onclick="()=>DeleteRoom(room)">X</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<RoomModel> screeningRoomsData;
    private async Task GetRooms()
    {
        screeningRoomsData = await _db.GetRooms();
    }
    private async Task DeleteRoom(RoomModel room)
    {
        await _db.DeleteRoom(room);
        await GetRooms();
    }
    protected override async Task OnInitializedAsync()
    {
        await GetRooms();
    }
    
    private void RedirectToEditor(RoomModel room)
    {
        NavigationManager.NavigateTo("Creator/"+room.Id);
    }
   
}
