@page "/"
@page "/instructions"

<PageTitle>Instructions</PageTitle>

<div class="p-4 text-center">
    <h1 class=" text-info">Welcome To Cinema Room Editor</h1>
    <p>Here's brief introduction to the app and instructions of how to use it.</p>
    <section class="p-3">
        <article class="p-3">
            <h3 class=" text-info">What is this "Cinema Room Editor" thing?</h3>
            <p>It's a tool which can be used to create, read, update and delete entries in database of cinema rooms.</p>
        </article>
        <article class="p-3">
            <h3 class=" text-info">How can I use it?</h3>
            <p>Pick "Room Editor" option from navigation panel, choose right parameters for your room and start editing!</p>
            <img class="w-100" src="gif/usage_demo.gif" alt="demonstration of usage" />
        </article>
        <article class="p-3">
            <h3 class=" text-info">Where can I find my creations?</h3>
            <p>Once saved you can find and manage your cinema rooms in "database" panel</p>
            <img class="w-100" src="gif/database_demo.gif" alt="demonstration of usage" />
        </article>
        <article class="p-3">
            <h2 class=" text-info">Have Fun!</h2>
        </article>
    </section>
</div>


